#section-about h2{
  margin-bottom: 2rem;
}

.container-about p{
  margin-bottom: 1rem;
}

.about-links a img{
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 728px) {
  .container-about{
    text-align: center;
  }
}