header{
	background-color: var(--color-primary);
	/* box-shadow: 0px 9px 43px 8px #000; */
	z-index: 100;
}

.contenedor {
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contenedor h1{
	font-family: var(--font-logo);
	color: var(--color-secondary);
}

nav a{
	color: var(--color-third);
	text-decoration: none;
	transition: .5s ease;
}

nav a:hover{
	color: var(--color-secondary);
}

@media (max-width: 700px) {
	header{
		padding: 10px 0;
	}

	.contenedor {
		flex-direction: column;
	}

	nav {
		margin-top: 5px;
	}
}