@import url("navigation.css");
@import url("header.css");
@import url("skills.css");

:root {
  --bgc-black: #050505;
  --bgc-brown: #c62f27;
  --bgc-white: #f2f2f2;
  --bgc-graylight: #cbd3cb;
  --bgc-gray: #8e8e8d;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Kanit', sans-serif;
}

main{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

section{
  margin: 1rem auto;
  max-width: 1000px;
  min-height: 100vh;
  padding: 5px;
  /* border: 1px solid red; */
}

h2{
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 18px;
}