#section-projects{
  min-height: auto;
}

#section-projects h2{
  margin-bottom: 2rem;
}
/* ---------------------------------- tabs ---------------------------------- */
.projects-container{
  width: 100%;
  /* border: 1px solid black; */
}

.radio{
  display: none;
}

.tab{
  cursor: pointer;
  padding: 10px 20px;
  /* margin: 0px 2px; */
  /* background: #16213E; */
  display: inline-block;
  color: var(--bgc-black);
}

.panels{
  /* background-color: #f3f3f3; */
  height: auto;
  width: 100%;
  min-height: 600px;
  border-top: 3px solid #f2f2f2;
}

.panel{
  display: none;
  animation: fadein .8s;
  padding: 1rem 0;
}

.panel-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  color: #4d587c;
  border-bottom: 3px solid #9FB4FF;
}

/* ---------------------------------- tabs ---------------------------------- */

.card{
  min-height: 400px;
  margin: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}

.card-content{
  height: 160px;
  border-top: 3px solid #9FB4FF;
  /* display: flex;
  align-items: center; */
}

.card-content p{
  font-size: 15px;
} 

.card-content a{
  color: #16213E;
}
.card-content a:hover{
  color: #4d587c;
}

.card-action{
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.card-action a{
  text-decoration: none;
  color: #16213E;
}

.card-action a:hover{
  color: #4d587c;
}

.card-content,
.card-action{
  padding: 1rem;
}

.card-img{
  display: flex;
}

.card-img img{
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  /* border-top-left-radius: 6px; */
  /* border-top-right-radius: 6px; */
} 

.title-panel{
  margin-left: 1rem;
  font-size: 22px;
}