#section-skills{
  min-height: auto;
}

#section-skills h2{
  margin: 2rem 0;
}

#section-skills #info-skills{
  margin-bottom: 2rem;
  text-align: center;
}

.skill-typed {
  width: 100%;
  min-height: 500px;
  color: var(--bgc-white);
  background-color: #16213E;
  padding: 1rem;
  border-radius: 10px;
  font-family: monospace;
  font-size: 18px;
}

.skill-typed .dirurl{
  color: #91C483;
}
.skill-typed .dir{
  color: #FFE162;
}
.skill-typed .branch{
  color: #9FB4FF;
}

.skills-container{
  width: 100%;
  /* background-color: #f2f2f2; */
  /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.info-skills{
  width: 100%;
}
.info-skills p{
  text-align: center;
  margin-bottom: 2rem;
}

.caja{
  margin: 1.5rem 1rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.caja .tooltip{
  display: none;
  width: 100px;
  background-color: #16213E;
  color: #9FB4FF;
  text-align: center;
  padding: 4px;
  border-radius: 6px;
  position: absolute;
  bottom: 115%;
  left: 50%;
  margin-left: -50px;
  z-index: 1;
}
.caja .tooltip::after{
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.caja:hover .tooltip{
  display: block;
}

.caja img{
  width: 55px;
  height: 55px;
}